<div class="main about"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6 thumbnail"> 
        <img alt="Me" src="http://i61.tinypic.com/2h540ig.jpg" /> 
      </div> 
    <div class="col-md-6"> 
      <h2>Hi. My name is <span class="highlight">Munjal Patel</span></h2> 
      <p>I am a Software Developer with proficiency in full-stack (front/back-end) development. Over the last 5+ years I’ve build web applications using different web technologies. Currently I work as the Head of IT where I program mainly using Mean Stack and Python web frameworks. I also overlook and guide a team of dynamic designers and developers with the best practices that I have learnt over my career.<p>
      <p>I have a Master’s degree in Computer Science from Fairleigh Dickinson University, New Jersey. Passionate about Software Development, I love to stay updated with the trending technologies. My skills include HTML, CSS, JavaScript, JQuery, Python, Rails, Mean Stack, Django among other popular web technologies and frameworks. </p>
      <p>I have a keen interest in travel photography. Books and coffee are my lifeline. I practice meditation everyday. An avid learner, I subscribe to many online courses on diverse subjects. I read and listen to diverse subjects in my spare time. I believe that "if you are not learning, you are not growing".</p>
      <p>Currently I am pursuing new opportunities and can be reached either through my Linkedin profile or by email at munjalbpatel@hotmail.com  <a href"mailto:munjalbpatel@hotmail.com">munjalbpatel@hotmail.com</a></p>
    </div> 
  </div> 
</div> 
</div>