<div class="main about"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6 thumbnail"> 
        <img alt="Me" src="http://i61.tinypic.com/2h540ig.jpg" /> 
      </div> 
    <div class="col-md-6"> 
      <h2>Hi. My name is <span class="highlight">Munjal Patel</span></h2> 
      <p>I'm a software developer with a master’s degree in Computer Science from Fairleigh Dickinson University. I am passionate about creating software using programming languages and analytically solving problems. An avid learner, I'm always on the lookout for projects that are out of my comfort zone and that help me grow my knowledge and proficiency.</p>
      <p>I am primarily a full stack developer, with most of my experience based on building web applications (front & back-end). My current job focuses on web application development using frameworks like Flask, Django, Express and other web technologies. My skill set includes technologies like Python, NodeJs, Javascript, MongoDb, Git, RESTful APIs among other popular libraries and frameworks.</p>
      <p>I am a hobbyist travel photographer, a fanatic books and coffee lover. I enjoy spending my spare time either reading books on personal growth, biographies and spirituality or learning some new technology, subscribing to numerous online courses. I am a fitness fanatic and a daily meditation practitioner.  I firmly believe that <em>“if you are not learning, you are not growing.”</em></p>
      <p>Currently I am pursuing new opportunities and can be reached either through my Linkedin profile or by email at <a href"mailto:munjalbpatel@hotmail.com">munjalbpatel@hotmail.com</a></p>
    </div> 
  </div> 
</div> 
</div>