<div class="main about"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6 thumbnail"> 
        <img alt="Me" src="http://i61.tinypic.com/2h540ig.jpg" /> 
      </div> 
    <div class="col-md-6"> 
      <h2>Hi. My name is <span class="highlight">Munjal Patel</span></h2> 
      <p>I am a Software Developer with 5+ years of experience in Web Application Development. I graduated with a Masters Degree in Computer Science from Fairleigh Dickinson University.<p>
      <p>Passionate about Web Development, I love to stay updated with the trending technologies. My skills include HTML, CSS, JavaScript, JQuery, Ruby, Rails, PHP, MySQL, Git among other popular technologies and frameworks like AngularJS, Node.js, Bootstrap. I am also interested in UX/UI.</p>
      <p>I have a keen interest in travel photography. Books and coffee are my lifeline. An avid learner, I subscribe to many online courses on diverse subjects. I believe that "if you stop learning, you stop growing".</p>
      <p>If you have a million dollar idea that you would like to build into an application, contact me and i'll help you out with the best of my ability. Recruiters and HR managers looking to hire can contact me on  <a href"mailto:munjalbpatel@hotmail.com">munjalbpatel@hotmail.com</a></p>
    </div> 
  </div> 
</div> 
</div>