<div class="main about"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-6 thumbnail"> 
        <img alt="Me" src="http://i59.tinypic.com/2rem9g8.jpg" /> 
      </div> 
    <div class="col-md-6"> 
      <h2>Hello. My name is <span class="highlight">Munjal Patel</span></h2> 
      <p>I was born and raised in Ahmedabad, India. I completed my Master's in Computer Science from Fairleigh Dickinson University, New Jersey.</p> 
      <p>I am an avid learner with passion for learning new things.I absolutely love coffee and books. I wish to travel around the world. I am also an amateur photographer. </p>
      <p>Professionally I am a Full Stack Ruby on Rails Developer with proficiency in HTML, CSS, JavaScript, JQuery, SQL, Ruby, Rails and other popular technologies and frameworks</p>
    </div> 
  </div> 
</div> 
</div>