 <div class="main portfolio"> 
   <div class="jumbotron"> 
    
  </div> 
<div class="container"> 
  <div class="row"> 
    <a class="col-md-6 project" href="https://strtupsaas.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
            <div class="thumbnail-header-btn"></div> 
          </div> 
        <div class="thumbnail"> 
          <img alt="Project01" src="http://i57.tinypic.com/351fk46.png" /> 
        </div> 
          <h3>StrtUpSaas App</h3> 
          <p>Welcome to StrtUpSaas, a community of developers, photographers and designers where you can share and find work. Connect with professionals from your field. Become a paying member and view their contact information</p>
    </a> 
    <a class="col-md-6 project" href="https://intense-forest-5483.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
            <div class="thumbnail-header-btn"></div> 
          </div> 
        <div class="thumbnail"> 
          <img alt="Project02" src="http://i58.tinypic.com/9zn906.png" /> 
        </div> 
        <h3>Stories App</h3> 
        <p>Discover Stories. Relive and share your adventures.Stories automatically creates a digital journal filled with only your best photos. Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    </a>
     <a class="col-md-6 project" href="https://strtupsaas.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
            <div class="thumbnail-header-btn"></div> 
          </div> 
        <div class="thumbnail"> 
          <img alt="Project01" src="http://i57.tinypic.com/351fk46.png" /> 
        </div> 
          <h3>StrtUpSaas App</h3> 
          <p>Welcome to StrtUpSaas, a community of developers, photographers and designers where you can share and find work. Connect with professionals from your field. Become a paying member and view their contact information</p>
    </a> 
     <a class="col-md-6 project" href="https://strtupsaas.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
            <div class="thumbnail-header-btn"></div> 
          </div> 
        <div class="thumbnail"> 
          <img alt="Project01" src="http://i57.tinypic.com/351fk46.png" /> 
        </div> 
          <h3>StrtUpSaas App</h3> 
          <p>Welcome to StrtUpSaas, a community of developers, photographers and designers where you can share and find work. Connect with professionals from your field. Become a paying member and view their contact information</p>
    </a> 
     <a class="col-md-6 project" href="https://strtupsaas.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
            <div class="thumbnail-header-btn"></div> 
          </div> 
        <div class="thumbnail"> 
          <img alt="Project01" src="http://i57.tinypic.com/351fk46.png" /> 
        </div> 
          <h3>StrtUpSaas App</h3> 
          <p>Welcome to StrtUpSaas, a community of developers, photographers and designers where you can share and find work. Connect with professionals from your field. Become a paying member and view their contact information</p>
    </a> 
  </div> 
  </div> 
</div>