 
 <div class="main home">
   <div class="jumbotron"> 
     <div class="container"> 
       <h2>Hello. My name is <span class="highlight">Munjal Patel</span> and I am a Full Stack Ruby On Rails Developer.</h2> 
       <a class="btn right" href="portfolio">View my Work</a> 
     </div> 
   </div> 
</div> 
