 
 <div class="main home">
   <div class="jumbotron"> 
     <div class="container"> 
       <h2>Hello! My name is <span class="highlight">Munjal Patel</span> and I am a Sofware Developer.</h2> 
        <%= link_to 'View My Work', pages_portfolio_path, class: 'btn right'%>
     </div> 
   </div> 
</div> 
