// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
}


.menu li a {
    color: #000;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.menu li {
    display: inline;
    line-height: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

.name h1 {
    color: #000;
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.home .jumbotron {
    background: url("http://p1.pichost.me/i/30/1531986.jpg") center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}

.home h2 {
    color: #fff;
}

.main h2 {
  
    font-size: 48px;
    line-height: 56px;
    text-align: right;
    margin-top: 175px;
}


a.btn {
    background-color: rgba(0,0,0,0.9);
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    height: 60px;
    line-height: 60px;
    margin: 40px 0;
    padding: 0;
   transition: background-color .5s;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
    width: 200px;
}
.right:hover { 
    background-color: yellow;
}

.right {
    float: right;
}

.highlight {
    background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}
ul li {
	list-style: none;
}

.footer{
	text-align: right;
}
.footer .social_media {
    margin: 65px 0 20px;
    width: 100%;
}
.social_media li {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
    text-align: left;
    text-indent: -9999px;
    width: 24px;
}

.social_media li a {
    display: block;
    height: 24px;
    width: 24px;
}

.github {
    background-image: url("http://i57.tinypic.com/1zv3ofa.png");
    background-position: center center;
}

.linkedin {
    background-image: url("http://i61.tinypic.com/iwpyc1.png");
    background-position: center center;
}

.twitter {
    background-image: url("http://i61.tinypic.com/2qi5lbr.png");
    background-position: center center;
}

.banner { 
	position: relative; overflow: auto; 
  }
 .banner li {
 	list-style: none; 
  }
  .banner ul li { 
  	float: left; 
   }
   
   .about .thumbnail {
    max-height: 400px;
}
.thumbnail {
    border: 0;
    border-radius: 0;
    max-height: 240px;
    padding: 0;
    overflow: hidden;
}

.about h2 {
    margin: 0 0 40px;
    padding: 0 20px 0;
}

.main h2 {
    color: #000;
    font-size: 48px;
    line-height: 56px;
    text-align: right;
}


.highlight {
    background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}

p {
    margin: 0 0 10px;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}