// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}
.navbar {
    margin-bottom: 0px;

}

.name h1 {
    color: #000;
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
}

h1 {
    display: block;
    //font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    //font-weight: bold;
}

.home .jumbotron {
    background: url("http://i60.tinypic.com/1id2qu.jpg") center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}

.home h2 {
    color: #fff;
}

.main h2 {
    //color: #000;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-top: 175px;
}


a.btn {
    background-color: rgba(0,0,0,0.9);
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    height: 60px;
    line-height: 60px;
    margin: 40px 0;
    padding: 0;
   transition: background-color .5s;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
    width: 200px;
}
.right:hover { 
    background-color: yellow;
}

.right {
    float: right;
}

.highlight {
    background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}
ul li {
	list-style: none;
}

.footer{
	text-align: right;
}
.footer .social_media {
    margin: 65px 0 20px;
    width: 100%;
}
.social_media li {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
    text-align: left;
    text-indent: -9999px;
    width: 24px;
}

.social_media li a {
    display: block;
    height: 24px;
    width: 24px;
}

.github {
    background-image: url("http://i57.tinypic.com/1zv3ofa.png");
    background-position: center center;
}

.linkedin {
    background-image: url("http://i61.tinypic.com/iwpyc1.png");
    background-position: center center;
}

.twitter {
    background-image: url("http://i61.tinypic.com/2qi5lbr.png");
    background-position: center center;
}

.portfolio .jumbotron {
    background: url("http://i60.tinypic.com/25icjup.jpg") center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.main {
    width: 100%;
}

.main .container {
    margin: 80px 0;
}
.container {
    padding: 0 200px 0 280px;
    width: 100%;
}


.project, .project:hover {
    color: #000;
    margin: 0 0 40px;
    text-decoration: none;
    transition: color .5s;
}

.thumbnail-header {
    background-color: #eaeff4;
    display: block;
    height: 20px;
    width: 100%;
}

.thumbnail-header-btn {
    background-color: #fff;
    border-radius: 100%;
    float: left;
    height: 10px;
    margin: 5px 0 0 5px;
    width: 10px;
}

.thumbnail {
    border: 0;
    border-radius: 0;
    max-height: 240px;
    padding: 0;
    overflow: hidden;
}

.project h3, .project p, .about h2, .about p {
    padding: 0 20px 0;
}

.project p {
    -webkit-box-orient: vertical;
    //display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about .thumbnail {
    max-height: 400px;
}

.about h2 {
    margin: 0 0 40px;
}

.contact .row {
    margin: 80px 0 0;
}

.contact .col-md-2 a {
    display: block;
    height: 64px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 64px;
}

#linkedin {
    background-image: url('http://i62.tinypic.com/25pir9z.png');
    background-position: center center;
}
#github {
    background-image: url('http://i57.tinypic.com/rtor45.png');
    background-position: center center;
}
#twitter {
    background-image: url('http://i61.tinypic.com/ehcchl.png');
    background-position: center center;
}

#facebook {
    background-image: url('http://i59.tinypic.com/2jdkzg2.png');
    background-position: center center;
}
#instagram {
    background-image: url('http://i59.tinypic.com/2u6gyrl.png');
    background-position: center center;
}
#email {
    background-image: url('http://i62.tinypic.com/29qea9u.png');
    background-position: center center;
}

